.type-vdoc-table {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
  border-collapse: collapse;
}

.type-vdoc-table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.type-vdoc-table tr.vdoc-nth-child-2n {
  background-color: #f6f8fa;
}

.type-vdoc-table tr.vdoc-wide {
  border-top: 1px dashed #dfe2e5;
}

.type-vdoc-table td {
  vertical-align: top;
  border-left: 1px solid #dfe2e5;
  padding: 4px 10px;
}

.type-vdoc-table th {
  border: 1px solid #dfe2e5;
  padding: 4px 10px;
}

.type-vdoc-chapter>* {
  box-sizing: border-box;
  max-width: 50em;
  float: left;
  clear: left;
}

.type-vdoc-chapter>.type-vdoc-chapter, .type-vdoc-chapter {
  width: 100%;
  max-width: 100%;
  float: left;
  clear: left;
}

.type-vdoc-chapter>.type-revdoc-example {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  float: right;
  clear: right;
}

.type-vdoc-chapter>h1, .type-vdoc-chapter>h2, .type-vdoc-chapter>h3,
.type-vdoc-chapter>h4, .type-vdoc-chapter>h5, .type-vdoc-chapter>h6 {
  box-sizing: content-box;
  padding-left: 0;
  padding-right: 50%;
}

@media screen and (min-width: 100em)
{
  .vdoc-body {
    max-width: calc(100% - 30em);
  }

  .type-vdoc-chapter>* {
    width: 50%;
  }

  .type-vdoc-chapter>.type-revdoc-example {
    width: 50%;
  }
}

@media screen and (min-width: 140em)
{
  .type-vdoc-chapter>.type-revdoc-example {
    min-width: 40em;
    max-width: calc(100% - 50em);
    width: calc(100% - 50em);
  }
}

.type-revdoc-tooltip {
  border-bottom: 1px dotted black;
}

.type-revdoc-tooltip .type-revdoc-tooltip-content {
  visibility: hidden;
  background-color: rgb(255, 255, 255);
  color: rgb(85, 85, 85);
  text-align: left;
  width: 800px;
  margin-top: 2em;
  margin-left: -400px;

  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
  padding: 5px 0px;

  border-radius: 4px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(85, 85, 85) rgb(200, 200, 200) rgb(220, 220, 220);
}

.type-revdoc-tooltip .type-revdoc-tooltip-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(85, 85, 85) rgb(85, 85, 85) rgb(85, 85, 85) rgb(85, 85, 85);
}

.type-revdoc-tooltip:hover .type-revdoc-tooltip-content {
  visibility: visible;
  opacity: 1;
}

.type-revdoc-command-prompt:after {
  content: "$ ";
  user-select: none
}
